// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "DP-1" {
    mode "2560x1440@199.999"
    scale 1
    position x=0 y=0
    variable-refresh-rate on-demand=true
    focus-at-startup
}

output "DP-2" {
    mode "1920x1080@165.002"
    scale 1
    position x=320 y=-1080
    transform "180"
    variable-refresh-rate on-demand=true
}


























